<h1>Add</h1>

<form action="/save/{{.Date}}" method="POST">
<div><textarea name="date" rows="1" cols="80">{{printf "%s" .Date}}</textarea></div>
<div><textarea name="title" rows="1" cols="80">{{printf "%s" .Title}}</textarea></div>
<div><textarea name="description" rows="20" cols="80">{{printf "%s" .Description}}</textarea></div>
<div><input type="submit" value="Save"></div>
</form>
